<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Comunicacion entre componentes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Comunicacion entre componentes</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-card>
      <ion-item>
        <strong>Componente Padre</strong>
      </ion-item>
      
      <ion-item>
        <ion-label>Modificar variableInput: </ion-label>
        <ion-input [(ngModel)]="variableInput"></ion-input>
      </ion-item>
  
      <ion-item>
        Cotenido variableOutput: <strong>{{ variableOutput }}</strong>
      </ion-item>
    </ion-card>
    
    <app-childcomponent
      [variableInput] = "variableInput"
      (nuevoEvento)="nuevoEvento( $event )"
    >
    </app-childcomponent>

</ion-content>
